hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

#des{
	font-family: "Times New Roman", Times, serif;
	font-style: oblique;
}

#author,#date {
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	
}
#idn{
	display: none;
}

#blogpost{
	display: none;
}

#barticle{
	display: none;
}
#blogback{
	display: none;
}