img{
    display: block;
    margin: 0 auto;
   
 }
h1{
	font-family:"Comic Sans MS", cursive, sans-serif;
	text-align: center;
}

.pokemon{
	/* position: fixed; */
    left: 700px;
    top: 700px;
	width: 40px;
    z-index: 1;
}