.heading{
	text-align: center;
}
.slogan{
	text-align: center;
}
button{
    /* height:20px;  */
    width:100px; 
    margin: -20px -50px; 
    position:relative;
    top:50%; 
    left:50%;
}

#signup{
	/* height:20px;  */
    width:100px; 
    margin: -15px -50px; 
    position:relative;
    top:50%; 
    left:50%;
	
}