<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<script src="http://code.jquery.com/jquery.min.js"></script>
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
	<script src="https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js"></script>

	<meta charset="UTF-8">
	<title>DinoDex Map</title>
	<style>
		h1{
			font-family:"Comic Sans MS", cursive, sans-serif;
			text-align: center;
		}

		#nav{
			font-family: "Comic Sans MS", cursive, sans-serif;
		}

		#mapid{
			display: block;
			margin: 0 auto;
			width: 800px; 
			height: 800px;
			display: none;
		}
		
		#game{
			display: none;
		}
		body, html{
			font-family: Verdana, Arial, Helvetica, sans-serif;
			
			margin: 0; padding: 0; border: 0;
		}
		
		#game2{
			display:none;
		}
		#game_table {
			margin: 1px auto;
		}
		.loginer{
			margin: auto;
			width: 50%;
			padding: 10px;
		}

		#game_table div {
			border: 5px solid #07c;
			width: 300px;
			height: 300px;
			cursor: pointer;
		}

		#game_table div:hover {
			background-color: #ddd;
		}

		#settings{
			text-align: center;
		}
		#CURRENTDINOID{
		}

		.showingCard{
			background-color: #ccc;
		}
		.mapinstructions{
			display: none;
		}
		.profile{
			display: none;
		}
		.leaderboard{
			display:none;
		}
		.userprofile{
			display:none;
		}

		.pairFound{
			background-color: #ff0;
		}
		#timer, #num_clicks {
			font-weight: bold;
		}
		#titled{
			display: none;
		}
		#navibar{
			display: none;
		}
		#create_account{
			display:none;
			margin: auto;
			width: 50%;
			padding: 10px;
		}
	</style>
	

</head>
<body>

<script>
var countclicks=0;
function compareSecondColumn(a, b) {
			if (a[1] === b[1]) {
				return 0;
			}
			else {
				return (a[1] > b[1]) ? -1 : 1;
			}
		}
function leaderboards(){
	countclicks++;
		$("#mapid").hide();
		$(".loginer").hide();
		$(".createaccount").hide();
		$(".mapinstructions").hide();
		$(".leaderboard").show();
		$(".userprofile").hide();
		
		var currentUser = loginstatus.innerHTML;
		var spellArray= new Array();
		var memArray= new Array();
		var whackArray= new Array();
		var templeArray= new Array();
		
		
		$.getJSON("/usersinfo", function(data, status){
			for(var i = 0; i<data.length; i++){
				var user=data[i].userid;
				var spell=data[i].spellScore;
				console.log(user);
				console.log(spell);
				var mem=data[i].memScore;
				var whack=data[i].whackScore;
				var temple=data[i].templeScore;
				spellArray.push([user,spell]);
				memArray.push([user,mem]);
				whackArray.push([user,whack]);
				templeArray.push([user,temple]);	
			}
			
		spellArray.sort(compareSecondColumn);
		memArray.sort(compareSecondColumn);
		whackArray.sort(compareSecondColumn);
		templeArray.sort(compareSecondColumn);
		console.log(spellArray);
		var sp;
		var mg;
		var wk;
		var tr;
		if(countclicks!=1){
			document.getElementById('spellHi').innerHTML='';
			document.getElementById('memHi').innerHTML ='';
			document.getElementById('whackHi').innerHTML='';
			document.getElementById('templeHi').innerHTML='';
		
		}
		for (var i = 0; i < 3; i++) {
			document.getElementById('spellHi').innerHTML += '<li>' + spellArray[i][0] +' '+ spellArray[i][1] + '</li>';
			document.getElementById('memHi').innerHTML += '<li>' + memArray[i][0] +' '+ memArray[i][1] + '</li>';
			document.getElementById('whackHi').innerHTML += '<li>' + whackArray[i][0] +' '+ whackArray[i][1] + '</li>';
			document.getElementById('templeHi').innerHTML += '<li>' + templeArray[i][0] +' '+ templeArray[i][1] + '</li>';	
		}

		});
	
}
</script>

<script>
function showProfile(){


			var currUser = document.getElementById("loginstatus").innerHTML;
			var dinoArray;
			var dinoNamesArray;
			//alert(currUser)
			
    $.getJSON("/usersinfo", function(data, status){
        //alert(data[1].userid + data[1].password);
		//alert(data[0].userid +"  "+data[0].userpassword )
		if(currUser != "Please Login"){
			$("#mapid").hide();
			$(".loginer").hide();
			$(".createaccount").hide();
			$(".mapinstructions").hide();
			$(".leaderboard").hide();
			$(".userprofile").show();
			for(var i = 0; i<data.length; i++){
				if(data[i].userid == currUser){
					dinoArray = data[i].dinos;
				}
			}
		}
		else alert('Please login first!')
		
		
		dinoArray.sort()
		$.getJSON("/dinosinfo", function(data1, status){
		
			for(var i = 1; i <= data1.length; i++){
				var hasDino = false
				for(var j = 0; j < dinoArray.length; j++){
					if(dinoArray[j] == (""+i)){hasDino = true}
				}
				
				if(hasDino == true){
					document.getElementById('d'+i).innerHTML = data1[i-1].name
					
				}
				
				
			}
		
		
		});

    });
}



</script>


	<div class="jumbotron" id="titled" style="hidden">
		<h1>DinoDex</h1>
		<div>
		<p align="right" style="hidden" class="loginstatus" id="loginstatus" >Please Login</p>
		</div>
	</div>
	<nav class="navbar navbar-default" id="navibar" style="hidden">
		<div id="nav" class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">DinoDex</a>
			</div>
			<ul class="nav navbar-nav">
				<li class="active" ><a href="#" id="homenav">Home</a></li>
				<li><a href="">About</a></li>
				<li><a href="">Dinosaurs</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="localhost:3000" onclick="leaderboards()"><span class="glyphicon glyphicon-user"></span>Leaderboards</a></li>
				<li><a href="localhost:3000" onclick="showProfile()"><span class="glyphicon glyphicon-user"></span>Profile</a></li>
				<li><a href=""><span class="glyphicon glyphicon-remove"></span>Sign Out</a></li>
		</div>
				
	</nav>
	
	<div align ="right">
	</div>



<div class = "loginer" style="hidden">
	<form action="/login" method="POST" style = "hidden">
		<div class="form-group">
			<label for="usr">Username:</label>
			<input type="text" placeholder="Username" name="userid" id="usid" class="form-control">
		</div>
		<div class="form-group">
			<label for="pwd">Password:</label>
			<input type="text" placeholder="Password" name="password" id="uspwd"  class="form-control">
		</div>
		<button id="logging" type ="submit" class="btn btn-primary">Login</button>
		</form>
		<button id="createa" type ="submit" class="btn btn-primary">Create Account</button>
</div>

<div class = "createaccount" style="hidden" id="create_account">
	<form action="/signup" method="POST">
	<div class="form-group">
		<label for="u">Username:</label>
		<input type="text" placeholder="Username" name="userid" class="form-control">
	</div>
	<div class="form-group">
		<label for="pwd1">Password:</label>
		<input type="text" placeholder="Password" name="password1" class="form-control">
	</div>
	<div class="form-group">
		<label for="pwd2">Retype Password:</label>
		<input type="text" placeholder="Retype Password" name="password2" class="form-control">
	</div>
	<button id="back" type ="submit" class="btn btn-primary">Submit</button>
	<button id="back1" type ="submit" class="btn btn-primary">Back</button>		
	</form>
	
</div>


<div class = "leaderboard" style="hidden">
 <h2> Spell Leaderboard<h2>
<ul id = "spellHi">	
</ul>
<h2> Memory Leaderboard<h2>
<ul id = "memHi">
</ul>
<h2> Whack a Dino Leaderboard<h2>
<ul id = "whackHi">
</ul>
<h2> Templerun Leaderboard<h2>
<ul id = "templeHi">
</ul>
</div>

<div class = "userprofile" style="hidden">
<a id = "d1"href="">??????????</a><br />
<a id = "d2"href="">??????????</a><br />
<a id = "d3"href="">??????????</a><br /> 
<a id = "d4"href="">??????????</a><br /> 
<a id = "d5"href="">??????????</a><br /> 
<a id = "d6"href="">??????????</a><br /> 
<a id = "d7"href="">??????????</a><br /> 
<a id = "d8"href="">??????????</a><br /> 
<a id = "d9"href="">??????????</a><br /> 
<a id = "d10"href="">??????????</a><br /> 
<a id = "d11"href="">??????????</a><br /> 
<a id = "d12"href="">??????????</a><br /> 
<a id = "d13"href="">??????????</a><br /> 
<a id = "d14"href="">??????????</a><br /> 
<a id = "d15"href="">??????????</a><br /> 
<a id = "d16"href="">??????????</a><br /> 
<a id = "d17"href="">??????????</a><br /> 
<a id = "d18"href="">??????????</a><br /> 
<a id = "d19"href="">??????????</a><br /> 
<a id = "d20"href="">??????????</a><br /> 
<a id = "d21"href="">??????????</a><br /> 
<a id = "d22"href="">??????????</a><br /> 
<a id = "d23"href="">??????????</a><br /> 
<a id = "d24"href="">??????????</a><br /> 
<a id = "d25"href="">??????????</a><br /> 
<a id = "d26"href="">??????????</a><br /> 
</div>


<p class = "mapinstructions" style="hidden">Go find DinoLocations on the Map</p>
	
<!-- Map creation -->
	<div id="mapid" class="mapclass" style="hidden"></div>



<%
	<!-- var mymap=L.map('mapid').setView([26.305892349824866,-98.17293477943724],13); -->
	coords=new Array();
	id_name=new Array();
	din=dinos;
	console.log(dinos);
	var ids;
	var name;
	 for(var i=0; i<dinos.length; i++) {
			ids=dinos[i].idn;
			name=dinos[i].name;
			id_name.push(ids,name);
			<!-- var n=id_name[0]; -->
			<!-- var d=id_name[1]; -->
			<!-- console.log(n); -->
			<!-- console.log(d); -->
		 for(var x=0;x<dinos[i].coord.length;x++){
			coor=dinos[i].coord[x];
			coords.push(coor);
			<!-- lat=coor[0]; -->
			<!-- log=coor[1]; -->
			<!-- console.log(lat); -->
			<!-- console.log(log); -->
			<!-- var marker2=L.marker([lat,log]).addTo(mymap); -->
		 }
     
	}	
%>

<script>
$("#createa").click(function(){
	console.log("it got here to show create");
	$("#create_account").show();
	$(".loginer").hide();


});
$("#back").click(function(){
	$("#create_account").hide();
	$(".loginer").show();
});
$("#back1").click(function(){
	$("#create_account").hide();
	$(".loginer").show();
});

</script>

<script>

	var imgs = [ [ "http://efdreams.com/data_images/dreams/dinosaur/dinosaur-11.jpg","Triceratops"],
				 ["http://orig03.deviantart.net/f652/f/2014/331/5/7/jurassic_world__tyrannosaurus_rex_by_sonichedgehog2-d87wp3n.png","Tyranosaurus Rex"],
				 ["http://kindersay.com/files/images/dinosaur.png","Brontosaurus"]
				 
			   ]
	var coords=new Array();
	var mymap=L.map('mapid').setView([26.305892349824866,-98.17293477943724],13);
	


	L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpandmbXliNDBjZWd2M2x6bDk3c2ZtOTkifQ._QA7i5Mpkd_m30IGElHziw', {
		maxZoom: 18,
		attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
		'<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
		'Imagery © <a href="http://mapbox.com">Mapbox</a>',
		id: 'mapbox.streets'
	}).addTo(mymap);
	
	

	var test= <%-JSON.stringify(coords)%>;
	var dino_db=<%-JSON.stringify(din)%>;
	var marker_arr=new Array();
	var marker_arr2=new Array();
	
	console.log("test: "+dino_db[0].idn);
	console.log("test: "+test);
	console.log(test.length);
	var name;
	for(var i=0;i<dino_db.length;i++){
		for(var x=0;x<dino_db[i].coord.length;x++){
			var cord=dino_db[i].coord[x];
			marker=L.marker([cord[0],cord[1]]).addTo(mymap).on('click', onClick);
			marker.bindPopup(dino_db[i].name+ "<br><a target='_blank' href='random.html'>Access this Dinosaur now!!</a>");
			marker.openPopup();
			marker_arr.push(dino_db[i].idn,marker);
		}
	}

 	var lats=test[1][0];
	var lon=test[1][1];
	var marker3=L.marker([lats,lon]).addTo(mymap);
	marker3.openPopup();
	
	function onClick(e) {
			x=this.getLatLng();
			var game=false;
			lat=x.lat;
			lng=x.lng;
			for(var i=0;i<dino_db.length;i++){
				for(var x=0; x<dino_db[i].coord.length;x++){
					lat1=dino_db[i].coord[x][0];
					lng2=dino_db[i].coord[x][1];
					if(lat1==lat && lng2==lng){
						console.log("we found it!! Take that!");
						marker_arr2.push(dino_db[i].idn, dino_db[i].name, game);
						var CURRENTDINO = dino_db[i].idn;
												$.post('/giveDinoID',
											{
											dinoid: CURRENTDINO
											});
					}
				}
				
			}
			
			console.log(x);
		}
		
$("#logging").click(function(){
	var id = document.getElementById("usid").value
	var pass = document.getElementById("uspwd").value
	var checkBool
    $.getJSON("/usersinfo", function(data, status){
        //alert(data[1].userid + data[1].password);
		//alert(data[0].userid +"  "+data[0].userpassword )
		for(var i = 0; i<data.length; i++){
			if(data[i].userid == id && data[i].userpassword == pass){
				checkBool = true
				break
			}
			checkBool = false
		}
		if (checkBool == true){
				$(".loginer").hide();
				$(".createaccount").hide();
				$(".mapinstructions").show();
				$("#navibar").show();
				$("#titled").show();
				
				
				$("#mapid").css({"display": "block"});
				mymap.invalidateSize(true)
				loginstatus.innerHTML= id;
				alert("Successful Login");}
		else{
			alert("nope")}

    });
});

$("#homenav").click(function(){
		var id = document.getElementById("usid").value
		$("#mapid").css({"display": "block"});
		$(".userprofile").hide();
		$(".leaderboard").hide();
		mymap.invalidateSize(true)
		loginstatus.innerHTML= id;
	
})
	
</script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


</body>
</html>